<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Tempus Wordclock</title>
</head>

<body>
  <main>
    <section id="time">
      <h2>
        The time is now
      </h2>
      <div id="flaps">
        <div class="hour">
          {{ the_time[0] }}
        </div>
        <div class="minute">
          {{ the_time[1] }}
        </div>
        <div class="ampm">
          {{ the_time[2] }}
        </div>
      </div>
    </section>
    <section id="date">
      <p>on {{ the_date }}</p>
    </section>
  </main>
</body>

</html>
