{% extends 'base.html' %}

<title>
  {% block title %}Display QR Code{% endblock %}
</title>

{% block content %}
  <section id="qrcode-display" class="container">
    <header class="section-header">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
          {% for cat, msg in messages %}
            <li class="{{ cat }}">
              {% if cat == "error" %}Error: {%endif%} {{ msg }}
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

      <p>
        <a href="{{ url_for('index') }}" class="back-link">
          &lt; Back to Home
        </a>
      </p>
      <br />
      <h2>
        Display QR Code
      </h2>
      <p>Display a QR code rendered from the provided text.</p>
    </header>

    <form action="/qrcode" method="post">
        <label for="qrcode-title">
            QR Code Title
        </label>
        <input type="text" name="qrcode-title" id="qrcode-title" required />
        <label for="qrcode-data">
            Text/URL to encode
        </label>
        <input type="text" name="qrcode-data" id="qrcode-data" required />
        <label for="show-data">
            Show encoded text:
            <input type="checkbox" name="show-data" id="show-data" checked />
        </label>
        <br />
        <label for="description">
            Description
        </label>
        <textarea name="description" id="description"></textarea>
        <button type="submit">Generate QR Code</button>
    </form>

  </section>
{% endblock %}
