{% extends 'base.html' %}

<title>
  {% block title %}Run History{% endblock %}
</title>

{% block content %}
  <section id="run-history" class="container" style="position: relative">
    <header class="section-header">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
          {% for cat, msg in messages %}
            <li class="{{ cat }}">
              {% if cat == "error" %}Error: {%endif%} {{ msg }}
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

      <p>
        <a href="{{ url_for('index') }}" class="back-link">
          &lt; Back to Home
        </a>
      </p>
      <br />
      <h2>
          Run History
      </h2>
      <p>View the run history of the Tempus apps over the past 24 hours.</p>
    </header>

    <div id="history-heatmap">

    </div>

  </section>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v6.js"></script>

<script>
  // Generate run history heatmap
  const history = {{ history|tojson }};

  if (history && history.length > 0) {

    // Filter data to include only the last 24 hours
    const startTimestamp = parseFloat(history[history.length - 1].timestamp) - 24 * 3600;
    const data = history.filter(d => parseFloat(d.timestamp) >= startTimestamp);

    // Define chart dimensions and margins
    const margin = { top: 10, right: 10, bottom: 60, left: 10 };
    const width = 800 - margin.left - margin.right;
    const height = 200 - margin.top - margin.bottom;

    // Define color scale
    const colors = ["#0099ff", "#ff0099", "#ffcc00", "#66cc33", "#6666cc", "#00ffcc", "#ff9900", "#cc3333"]

    // Chart SVG
    const svg = d3.select("#history-heatmap")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .attr("viewBox", `0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`)
      .append("g")
      .attr("transform", `translate(${margin.left}, ${margin.top})`);


    // Define scales and axes
    const apps = Array.from(new Set(data.map(d => d.app)));
    const timestamps = Array.from(data.map(d => new Date(d.timestamp * 1000)));

    const formatTime = d3.timeFormat("%Y-%m-%d %H:%M:%S");

    const appColors = d3.scaleOrdinal()
      .domain(apps)
      .range(colors);

    const x = d3.scaleTime()
      .domain([timestamps[0], timestamps[timestamps.length - 1]])
      .range([0, width]);

    const y = d3.scaleLinear()
      .domain([0, 1])
      .range([height, 0]);

    // X-axis
    svg.append("g")
      .attr("transform", `translate(0, ${height})`)
      .attr("style", "font-size: 16px; font-family: 'Satoshi', system-ui, sans-serif")
      .call(d3.axisBottom(x));

    // Y-axis
    svg.append("g")
    .call(d3.axisLeft(y).tickSize(0))
    .selectAll(".tick").style("display", "none")
    .select(".domain").remove();

  // Legend
  const legend = d3.select("#history-heatmap")
    .append("div")
    .attr("class", "legend")
    .style("background-color", "#eee")
    .style("border-radius", "4px")
    .style("margin-block", "8px")
    .style("padding", "8px")
    .style("font-size", "14px")
    .style("font-family", "'Satoshi', system-ui, sans-serif")
    .html("<h4>Legend</h4>")
    .append("div")
    .attr("class", "legend-items")
    .style("display", "flex")
    .style("align-items", "center")
    .style("flex-wrap", "wrap")
    .style("gap", "8px")
    .selectAll("div")
    .data(apps)
    .enter()
    .append("div")
    .attr("class", "legend-item")
    .attr("data-app", (d) => d)
    .style("--fill", (d) => appColors(d))
    .style("flex", "1")
    .append("span")
    .text((d) => d);

  // Tooltip
  const tooltip = d3.select("#history-heatmap")
    .append("div")
    .attr("class", "tooltip")
    .style("background-color", "#eee")
    .style("color", "#333")
    .style("padding", "8px")
    .style("border-radius", "4px")
    .html("app: [none selected]<br>last run: [none selected]");

  const mouseover = function(event, d) {
    tooltip.html(`app: <strong>${d.app}</strong><br>last run: ${formatTime(new Date(d.timestamp * 1000))}`)
  };

  const mousemove = function(event, d) {
      tooltip.html(`app: <strong>${d.app}</strong><br>last run: ${formatTime(new Date(d.timestamp * 1000))}`)
  };

  const mouseleave = function(event, d) {
    tooltip.html("app: [none selected]<br>last run: [none selected]")
  };

  // Render heatmap bars
  svg.selectAll("rects")
    .data(data, function(d) { return d.app+": "+formatTime(new Date(d.timestamp * 1000)); })
    .enter()
    .append("rect")
    .attr("x", function(d) { return x(new Date(d.timestamp * 1000)); })
    .attr("y", function(d) { return y(1); })
    .attr("width", function(d) { return (2.5); })
    .attr("height", height)
    .attr("fill", function(d) { return appColors(d.app); })
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave);

} else {
  // Null state -- no data to display

  const nullstate = d3.select("#history-heatmap")
    .append("div")
    .attr("class", "null-state")
    .text("No data to display")
    .style("color", "#808080")
    .style("font-weight", "900")
    .style("text-align", "center")
    .style("height", "15rem")
    .style("font-size", "2.5rem")
    .style("display", "flex")
    .style("align-items", "center")
    .style("justify-content", "center")
    .style("background-image", "repeating-linear-gradient(45deg, #eee, #eee 2px, hsl(0 0 100 / 0) 2px, hsl(0 0 100 / 0) 12px)")
    ;

}
</script>
{% endblock %}
