{% extends 'base.html' %}

<title>
  {% block title %}Home{% endblock %}
</title>

{% block content %}
	<section id="dash-status" class="container">
    <h3>Currently Active Plugin</h3>
    <p class="status">
      {{ status.name }}, last run: {{ status.last_run }}
    </p>
	</section>

	<section id="tilegrid" class="container">
		{% for button in buttons %}
		  {% if button.id in ["photo", "yearprogress"] %}
				<a href="{{button.route}}" class="button tile">
		      <img src="{{ url_for('static', filename='img/' + button.icon) }}" alt="{{ button.id }}">
  				<span>
  					{{ button.text }}
  				</span>
				</a>
			{% else %}
  			<button class="tile" id="{{ button.id }}" data-route="{{ button.route }}">
  				<img src="{{ url_for('static', filename='img/' + button.icon) }}" alt="{{ button.id }}">
  				<span>
  					{{ button.text }}
  				</span>
  			</button>
      {% endif %}
		{% endfor %}
	</section>
{% endblock %}

{% block modals %}
	<dialog id="dash-settings" class="controller">
		<h2>Time Weather Dashboard</h2>

		<form method="dialog">
			<label for="timer">Dashboard Refresh Time (mins)</label>
			<input type="text" pattern="[0-9]*" inputmode="numeric" name="timer" id="timer" value="10" min="5" max="60" />

			<div class="action-area">
				<button class="close danger" value="close">Close</button>
				<button id="save" value="save">Submit</button>
			</div>
		</form>
	</dialog>

	<dialog id="photo-link" class="controller">
		<h2>Display Image from URL</h2>

		<form method="dialog">
			<label for="url">Photo URL</label>
			<input type="url" name="url" id="url" placeholder="Enter a valid URL" pattern="https?://.*" />

			<div class="action-area">
				<button class="close danger" value="close">Close</button>
				<button id="save" value="save">Submit</button>
			</div>
		</form>
	</dialog>

	<!--
	<dialog id="progressor" class="controller">
    <h2>Year Progress</h2>

    <form method="dialog">
      <label for="hour">Update every day at: </label>
      <div class="input-suffix">
        <input type="text" pattern="[0-9]*" inputmode="numeric"  name="hour" id="hour" value="8" min="0" max="23" />
        <span class="suffix">o' clock</span>
      </div>

      <div class="action-area">
				<button class="close danger" value="close">Close</button>
				<button id="save" value="save">Submit</button>
			</div>
    </form>
	</dialog>
	-->
{% endblock %}
