<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tempus Text Display</title>

	<link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section id="text-lockup" style="font-size: {{ font_size }}px">
            {{ html | safe }}
        </section>
    </main>
</body>
</html>
